.form-group
  = f.text_area :title, placeholder: 'Summarize your idea ...', class: 'form-control idea-title-form'
.form-group
  = f.text_area :content, placeholder: 'Detail your idea ...', rows: 13, class: 'form-control', id: 'edit'
