.new-idea-title
  = f.text_area :title, placeholder: 'Idea title ...', class: 'form-control idea-title-form'
.new-idea-content
  = f.text_area :content, placeholder: 'Detail your idea ...', rows: 13, class: 'form-control idea-content-form'
