$border-radius-base: 2px;
$border-radius-large: 3px;
$border-radius-small: 1px;

$item-background-color: #F7F7F7;
$item-background-color-hover: #EEEEEE;

$small-item-height: 80px;
$small-item-width: 400px;
