// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  .vcard {
    .avatar-block {
      padding-bottom: 0.5em;

      .avatar {
        img {
          border-radius: $border-radius-large;
        }
      }

      h2.fullname {
        font-size: 1.7em;
        font-weight: bold;
      }

      .username {
        font-size: 1.2em;
        color: #666666;
      }
    }

    .vcard-details, .vcard-stats {
      border-top: 1px solid #E6E6E6;
      padding: 1.3em 0;
    }

    .vcard-detail {
      .join-label {
        padding-left: 0.4em;
        padding-right: 0.3em;
      }
    }

    .vcard-stats {
      padding-bottom: 7em;
      .vcard-stat {
        @extend .text-center;
        float: left;
        width: 33.333%;
        font-size: .7em;
        margin: 0.3em 0;
        color: #999999;
        text-decoration: none;
        &:hover {
          color: #666666;
        }
        .vcard-stat-count {
          display: block;
          font-size: 28px;
          font-weight: bold;
          line-height: 1;
          color: #212121;
        }
      }
    }

  }
}

.user-info {
  padding-left: 2em;
  padding-right: 2em;

  .user-navs {
    .edit-or-follow {
      position: absolute;
      right: 2em;
      top: 0em;
    }
  }

  .user-info-block {
    padding-top: 0.5em;

    .idea-item {
      background-color: #F7F7F7;
      height: 80px;
      margin: 0.4em 0;

      &:hover {
        background-color: #EEEEEE;
      }

      .idea-logo {
        position: absolute;
        left: 4em;
        top: 2.5em;
      }

      .idea-entry {
        height: 30px;
        width: 260px;

        position: absolute;
        left: 6.5em;
        top: 2.5em;

        a {
          color: #808080;
          text-decoration: none;
        }
      }

      .idea-author-avatar {
        position: relative;
        left: 2em;
        top: 1.2em;

        img {
          height: 45px;
          width: 45px;
          border-radius: 60px;
        }
      }
    }
  }
}

.user-profile {
  .user-profile-block {
    padding: 2em;
  }

  .profile-item-label {
    font-size: 14px;
    color: #666666;
  }

  .btn-profile-cancel {
    width: 80px;
  }

  .btn-profile-save {
    position: relative;
    left: 1em;
    width: 80px;
  }
}

.user-card {

  background-color: $item-background-color;
  height: 80px;
  margin: 0.4em 0;

  &:hover {
    background-color: $item-background-color-hover;
  }

  .avatar {
    position: relative;
    left: 2em;
    top: 1.2em;

    img {
      height: 45px;
      width: 45px;
      border-radius: 60px;
    }
  }

  .name {
    position: absolute;
    left: 7em;
    top: 1.5em;
    a {
      font-size: 1.2em;
      font-weight: bold;
      color: #212121;
      text-decoration: none;
      &:hover {
        color: #666666;
      }
    }
  }

  .joined-on {
    position: absolute;
    left: 7em;
    top: 3.2em;
    color: #666666;

    .join-label {
      padding-left: 0.4em;
      padding-right: 0.3em;
    }
  }

  .follow {
    position: absolute;
    left: 20em;
    top: 1.5em;

    a.btn-follow-unfollow {
      padding-top: 0.1em;
      height: 22px;

      font-size: 14px;
    }
  }
}
